* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 98vh;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: hsl(217, 19%, 35%);
  background-color: hsl(210, 46%, 95%);
}

.p-col {
  padding: 2rem;
}

.art-container {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 600px;
  height: auto;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 3px 10px hsla(214, 17%, 51%, 0.185);
}

.art-img {
  background: url(/images/drawers.jpg) no-repeat left center;
  background-size: cover;
  width: 40%;
  padding: 0;
  border-radius: 0.5rem 0 0 0.5rem;
}

.art-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  padding: 1.4rem;
}

.art-content h3 {
  font-size: 16px;
  font-weight: 700 !important;
}

.main-text {
  margin: 0.5rem 0 1rem 0;
}

.art-img img {
  width: 100%;
  
}

.art-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  position: relative;
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar img {
  width: 14%;
  height: 14%;
  margin-right: 1rem;
  border-radius: 50px;
}

.avatar h4 {
  font-weight: 700;
}

.share-icon, .close-icon {
  background-color: hsl(210, 46%, 95%);
  padding: 0.4rem;
  border-radius: 50px;
  cursor: pointer;
}

.social-media {
  position: absolute;
  top: 120px;
  right: -70px;
  display: none; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  color: #fff;
  background-color: hsl(217, 19%, 35%);
  padding: 0 2rem;
  border-radius: 0.5rem;
  
}

.social-media ul {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  z-index: 10;
}

.social-media ul li {
  text-decoration: none;
  list-style: none;
}

.social-media li {
  margin: 0 0.4rem;
}

.social-media li img {
  background-color: hsl(217, 19%, 35%);
}

.social-media p {
  text-transform: uppercase;
}

.close-icon {
  position: absolute;
  top: 77px;
  left: 91px;
  color: #fff !important;
  background-color: hsl(212, 23%, 69%) !important;
}

.point {
  position: absolute;
  top: 31px;
  left: 88px;
  transform: rotate(40deg);
  background-color: hsl(217, 19%, 35%);
  padding: 1rem;
}

@media (max-width: 768px) {
  .art-container {
    flex-direction: column;
    width: 100%;
    max-width: 340px;
    margin: 0 1rem;
  }

  .art-img, .art-content {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
  }

  .art-img {
    min-height: 250px;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .art-profile  {
    padding: 1rem 0;
    margin-top: unset;
  }

  .avatar p {
    margin: unset;
  }

  .main-text {
    margin: 0.5rem 0 1.6rem 0;
  }

  .social-media {
    display: none;
    flex-direction: row;
    align-items: center;
    min-height: 70px;
    color: #fff;
    background-color: hsl(217, 19%, 35%);
    padding: 0 1rem 0 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  .social-media {
    position: unset;
    margin-top: -76px;
    width: 100%;
    height: 76px;
    max-width: 340px;
    z-index: 10;
  }

  .social-media p {
    color: #fff !important;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  .close-icon {
    display: unset !important;
    position: unset;
    cursor: pointer;
    margin-left: 5rem;
  }

  .cgc-button button {
    color: #000;
    /* background-color: #D3BC90; */
    cursor: pointer;
    padding: 1rem;
    border: none;
  }

  .cgc-btn-inactive {
    background-color: #D3BC90;
  }

  .cgc-btn-active:focus {
    background-color: #d1ac66;
  }

  .point {
    display: none;
  }
}